<html>
<head>
<title>Job Offer</title>
</head>
<body>
Hi,<br/>
<br/>
We are from {{ company.company }} and got your profile from this job portal.<br/>
We are from {{ company.location }} and want to offer you a job after your technical interview.<br/><br/>

If you are interested in our job, then reply to this email:- {{ company.email }}<br/>
or you can also contact us on our number:- {{ company.country_code }}-{{ company.mobile_no }}<br/><br/>

Thanking You,<br/>
{{ company.contact }}<br/>
{{ company.company }}<br/>
{{ company.website }}<br/>
</body>
</html>
